.product--container{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;

}

.gallery-pics--container{
    height: 88px;
    width: 100px;
    margin-bottom: 32px;

}

.gallery-pics{
    
    margin-bottom: 32px;
    height: 100%;
    width: 100%;
    object-fit: contain;
   
    

}


.main--pic--div{
    height: 510px;
    width: 610px;
    object-fit: cover;
    
}
.main--pic{
    height: 100%;
    width: 100%;
    


}
.product--brand{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;

}
.product--name{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    margin-bottom :43px;

}

.attr--name{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.attr--not--color{
    display: flex;
    margin-bottom: 8px;


}
.clicked:active {
    background-color: rgb(52, 2, 109);
  }


.attr--text{
    display: flex;
    border: 1px solid #1D1F22;
    height: 45px;
    width: 63px;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    

}




.product--price--number{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 18px;
margin-bottom:20px ;


}

.product--price{
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 36px;

}

.addToCart--btn{
    background:#5ECE7B ;
    width: 292px;
    height: 52px;
    border: #5ECE7B;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    

}
.addToCart--btn:active {
    background-color: rgb(52, 2, 109);
  }

.product--discreption{
    margin-top:  40px;
    display: flex;
    flex-wrap: wrap;
    width: 292px;
}

.main--pic{
   max-height: 550px;
   max-width: 550px;
   margin-left:25px;
   

}
.attr--color{
    display: flex;
    margin-bottom: 8px;


}
.attr--color--box{
    width: 32px;
    height: 32px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 10px;
    margin-bottom: 24px;
    padding:1px;
    cursor: pointer;


}

.color--selected{
    border: 1px solid #5ECE7B;;
}


.attr--text--selected{
    display: flex;
    border: 1px solid #1D1F22;
    height: 45px;
    width: 63px;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: #ffffff;
    background-color: #1D1F22;

}

.addToCart--btn--unactive{
    background-color: #000000;
    width: 292px;
    height: 52px;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    cursor: not-allowed;
}





